<!-- Estado 1: Loading -->
@if (carregando()) {
<p>Carregando produtos...</p>
}

<!-- Estado 2: Erro -->
@if (erro()) {
<p style="color: red">
{{ erro() }}
</p>

<button (click)="carregarProduto()">Tentar novamente</button>
}

<!-- Estado 3: Sucesso -->
@if (!carregando() && !erro()) {
<p>Total de produtos: {{ totalProdutos() }}</p>

<hr />
<section class="grid-produtos">
@for (item of produtos(); track $index) {
<app-produto
 [nome] = "item.nome" 
 [preco] = "item.preco" 
 (produtoSelecionado)="exibirProduto($event)"
 (produtoAdicionado)="adicionarAoCarrinho($event)"
 ></app-produto>
 
}
</section>
}

   


  