<h2>Checkout</h2>
<form [formGroup]="formulario">

<p><input type="text" formControlName="nome" placeholder="Nome"></p>
@if (formulario.get('nome')?.touched && formulario.get('nome')?.invalid) {
    @if (formulario.get('nome')?.errors?.['required']) {
        <br>
<small style="color: red;">Nome é Obrigatorio!</small>
    }
}
@if (formulario.get('nome')?.errors?.['minlength']) {
    <br>
    <small style="color: red;">Nome deve ter no mínimo 3 letras</small>
}
@if (formulario.get('nome')?.errors?.['numeroInvalido']) {
    <br>
    <small style="color: red;">Nome não pode conter Números!</small>
}

<p><input type="email" formControlName="email" placeholder="E-mail"></p>
@if (formulario.get('email')?.touched && formulario.get('email')?.invalid) {
    @if (formulario.get('email')?.errors?.['required']) {
        <br>
<small style="color: red;">E-mail é Obrigatorio!</small>
    }
}
@if (formulario.get('email')?.errors?.['minlength']) {
    <br>
    <small style="color: red;">E-mail precisa ter @ e .com para ser válido </small>
}
@if (formulario.get('email')?.errors?.['emailInvalido']) {
    <br>
    <small style="color: red;">Digite um e-mail no formato correto!</small>
}

<p><input type="text" formControlName="endereco" placeholder="Endereço"></p>
@if (formulario.get('endereco')?.touched && formulario.get('endereco')?.invalid) {
    @if (formulario.get('endereco')?.errors?.['required']) {
        <br>
<small style="color: red;">Endereço e Obrigatorio!</small>
    }
}
@if (formulario.get('endereco')?.errors?.['minlength']) {
    <br>
    <small style="color: red;">Precisamos do seu Endereço para continuar</small>
}
@if (formulario.get('endereco')?.errors?.['endereçoInvalido']) {
    <br>
    <small style="color: red;">Só falta colocar seu Endereço pra finalizar!</small>
}
<br>
<button type="button" (click)="finalizar()" [disabled]="formulario.invalid">Finalizar compra</button>
</form>